{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "utils": "./src/utils",
          "components": "./src/components",
          "static": "./src/static"
        }
      }
    ]
  ]
}
